<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<style>
  html, body {
  padding: 0;
  margin: 0;
  font-family: Menlo, monospace;
  background-color: black;
  color: white;
  }
  a {
  color: silver;
  }
  a:active {
  color: silver;
  }

  a:visited {
  color: gray;
  }

  .blog {
  padding: 10px;
  margin: 10px;
  }
  pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: Menlo, monospace
  }
  .intro {
  padding: 1em;
  }

  input,textarea {
  margin: 5px;
  padding: 5px;
  font-family: Menlo, monospace;
  background-color: black;
  color: white;
  }
</style>

</style>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
