<!DOCTYPE html5>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
      padding: 0;
      margin: 0;
      font-family: Menlo, monospace;
      background-color: black;
      color: white;
      }
      a {
          color: silver;
      }
      a:active {
          color: silver;
      }

      a:visited {
          color: gray;
      }

      .blog {
      padding: 10px;
      margin: 10px;
      }
      pre {
      white-space: pre-wrap;       /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      font-family: Menlo, monospace
      }
      .intro {
      padding: 1em;
      }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>txt.black</title>
  </head>
  <body>
    <div class="intro">
      <h3>Using <b><a href="https://txt.black">txt.black</a></b>:</h3>
      You can either post through the command line, or through a web form on <a href="https://txt.black/v1/form/example">https://txt.black/v1/form/example</a><br>
      When asked for user and password, the first time type the username you want and tha password you want, this user will be created for you<br>
      <pre>
#publish/edit a post by directly uploading a local file
$ curl -XPOST --data-binary @file.txt -u your_user_name https://txt.black/v1/post/some-permalink-slug/Some%20Title/tag1,tag2

# publish/edit a post
$ curl -XPOST -d '{"title":"hi","slug":"yo","tags":["a","b","c"],"text":"asd"}' -u your_user_name https://txt.black/v1/api/post

# delete a post
$ curl -XPOST -d '{"slug":"yo"}' -u your_user_name https://txt.black/v1/api/delete

# change password
$ curl -XPOST -d '{"new_password": "whatever password"}' -u your_user_name https://txt.black/v1/api/changePassword
      </pre>
      <br>
      Report abuse to info@txt.black (or GDPR requests), if you want to contribute fork it from <a href="https://github.com/jackdoe/txt.black">https://github.com/jackdoe/txt.black</a>
      <br>
      Enjoy.<br>
      PS: we do not use cookies :)
    </div>
    <hr style="width: 50%">
    <div>
     {{ range $index, $blog := .Blogs }}
         {{ template "partial.blog.tmpl" $blog }}
     {{ end }}
    </div>
  </body>
</html>
