<div class="blog">
  <h3>
    <small>[<a href="/~{{ .User.UserName }}/{{ .Slug }}">{{.Slug}}</a> @ <a href="/~{{ .User.UserName }}/">{{ .User.UserName }}</a>]</small>
    {{ .Title }}
  </h3>
  <pre>{{ .Data }}</pre>
  <br>
  {{ $blog := . }}
  {{ range $index, $tag := .Tags }}
  <small><a href="/~{{ $blog.User.UserName }}/{{ $tag.Tag }}">#{{ $tag.Tag }}</a></small><br>
  {{ end }}

  <small><a href="/~{{ $blog.User.UserName }}/">{{ $blog.User.UserName }}</a> - {{ $blog.UpdatedAt }}</small>
</div>

