<!DOCTYPE html5>
<html>
  <head>
    {{ template "head.tmpl" . }}
    <title>{{.Title}}</title>
  </head>
  <body>
     {{ range $index, $blog := .Matching }}
         {{ template "partial.blog.tmpl" $blog }}
     {{ end }}
     {{ if .Matching }}{{ if .NotMatching }}<hr>{{end}}{{end}}
     {{ range $index, $blog := .NotMatching }}
         {{ template "partial.blog.tmpl" $blog }}
     {{ end }}
  </body>
</html>
